In [1]:
import pandas as pd

df = pd.read_csv('assembly.csv')
df.head()

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (1,5,7,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ST_NAME,YEAR,AC_NO,#,AC_NAME,AC_TYPE,NAME,SEX,AGE,CATEGORY,PARTY,VOTES
0,Andhra Pradesh,1955,1,1,ICHCHAPURAM,GEN,UPPADA RANGABABU,M,NaN,NaN,KLP,14565.0
1,Andhra Pradesh,1955,1,2,ICHCHAPURAM,GEN,HARIHARA PATNAIK,M,NaN,NaN,IND,7408.0
2,Andhra Pradesh,1955,1,3,ICHCHAPURAM,GEN,PUDI LOKANADHAM,M,NaN,NaN,IND,6508.0
3,Andhra Pradesh,1955,1,4,ICHCHAPURAM,GEN,KALLA BALARAMA SWAMY,M,NaN,NaN,IND,3002.0
4,Andhra Pradesh,1955,1,5,ICHCHAPURAM,GEN,BANIKINKARA SHARMA,M,NaN,NaN,IND,682.0

In [3]:
df.dtypes

ST_NAME      object
YEAR         object
AC_NO         int64
#             int64
AC_NAME      object
AC_TYPE      object
NAME         object
SEX          object
AGE         float64
CATEGORY     object
PARTY        object
VOTES       float64
dtype: object

In [4]:
df.ST_NAME.unique()

array(['Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar',
       'Chhattisgarh', 'Delhi', 'Goa', 'Gujarat', 'Haryana',
       'Himachal Pradesh', 'Jammu & Kashmir', 'Jharkhand', 'Karnataka',
       'Kerala', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya',
       'Mizoram', 'Nagaland', 'Orissa', 'Pondicherry', 'Punjab',
       'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura', 'Uttar Pradesh',
       'Uttarakhand', 'West Bengal'], dtype=object)

In [9]:
df2 = df[(df['ST_NAME'].isin(['Goa','Manipur','Punjab','Uttar Pradesh','Uttarakhand']))  & (df['#']== 1)]
df2.head()

,ST_NAME,YEAR,AC_NO,#,AC_NAME,AC_TYPE,NAME,SEX,AGE,CATEGORY,PARTY,VOTES
88849,Goa,1967,1,1,PERNEM,GEN,K . B . LAXMAN,M,NaN,NaN,MAG,4499.0
88857,Goa,1967,2,1,MANDREM,GEN,A . J . DSOUZA,M,NaN,NaN,MAG,6907.0
88867,Goa,1967,3,1,SIOLIM,GEN,A . P . PANDURANG,M,NaN,NaN,MAG,5175.0
88873,Goa,1967,4,1,CALANGUTE,GEN,S . VALENTE,M,NaN,NaN,UGS,6329.0
88881,Goa,1967,5,1,ALDONA,GEN,L . S . O . FERNANDO,M,NaN,NaN,UGS,6084.0

In [20]:
df2.groupby(['ST_NAME','YEAR','PARTY'])['PARTY'].size()

ST_NAME        YEAR  PARTY
Goa            1967  IND         2
                     MAG        16
                     UGS        12
               1972  INC         1
                     IND         1
                     MAG        18
                     UGS        10
               1977  INC        10
                     IND         2
                     JNP         3
                     MAG        15
               1980  INC(U)     20
                     IND         3
                     MAG         7
               1984  INC        18
                     IND         4
                     MAG         8
               1989  INC        20
                     IND         2
                     MAG        18
               1994  BJP         4
                     INC        18
                     IND         3
                     MAG        12
                     UGDP        3
               1999  BJP        10
                     GRCP        2
                     INC        21
                     IND         1
                     MAG         4
                              ...
Uttar Pradesh  2007  RSBP        1
                     SP         97
                     UPUDF       1
               2012  AD          1
                     BJP        47
                     BSP        80
                     IEMC        1
                     INC        28
                     IND         6
                     NCP         1
                     PECP        4
                     QED         2
                     RLD         9
                     SP        224
Uttarakhand    2002  BJP        19
                     BSP         7
                     INC        36
                     IND         3
                     NCP         1
                     UKKD        4
               2007  BJP        34
                     BSP         8
                     INC        21
                     IND         3
                     UKKD        3
               2012  BJP        31
                     BSP         3
                     INC        32
                     IND         3
                     UKDP        1
dtype: int64

In [21]:
df2.groupby(['ST_NAME','YEAR'])['YEAR'].size()

ST_NAME        YEAR
Goa            1967     30
               1972     30
               1977     30
               1980     30
               1984     30
               1989     40
               1994     40
               1999     40
               2002     40
               2007     40
               2012     40
Manipur        1967     30
               1972     60
               1974     60
               1980     60
               1984     60
               1990     54
               1995     60
               2000     60
               2002     60
               2007     60
               2012     60
Punjab         1951    105
               1957    121
               1962    154
               1967    104
               1969    104
               1972    104
               1977    117
               1980    117
               1985    117
               1992    117
               1997    117
               2002    117
               2007    116
               2012    117
Uttar Pradesh  1951    347
               1957    341
               1962    430
               1967    425
               1969    425
               1974    424
               1977    425
               1980    425
               1985    425
               1989    425
               1991    419
               1993    422
               1996    424
               2002    403
               2007    403
               2012    403
Uttarakhand    2002     70
               2007     69
               2012     70
dtype: int64

In [52]:
df2.groupby(['ST_NAME','YEAR','PARTY'])['PARTY'].size().to_frame().to_csv('trial.csv')

In [78]:
df3 = pd.read_csv('trial.csv')
df3.head()

  ST_NAME  YEAR PARTY   0
0     Goa  1967   IND   2
1     Goa  1967   MAG  16
2     Goa  1967   UGS  12
3     Goa  1972   INC   1
4     Goa  1972   IND   1

In [79]:
df3=df3.rename(columns = {'0':'SEATS'})
df3.head()

  ST_NAME  YEAR PARTY  SEATS
0     Goa  1967   IND      2
1     Goa  1967   MAG     16
2     Goa  1967   UGS     12
3     Goa  1972   INC      1
4     Goa  1972   IND      1

In [80]:
df3['SEATS_YEAR'] = df3.groupby(['ST_NAME','YEAR'])['SEATS'].transform(sum)
df3.head()

  ST_NAME  YEAR PARTY  SEATS  SEATS_YEAR
0     Goa  1967   IND      2          30
1     Goa  1967   MAG     16          30
2     Goa  1967   UGS     12          30
3     Goa  1972   INC      1          30
4     Goa  1972   IND      1          30

In [83]:
df3['PARTY_YEAR_PERCENT']=(df3['SEATS']/df3['SEATS_YEAR'])*100
df3.head()

  ST_NAME  YEAR PARTY  SEATS  SEATS_YEAR  PARTY_YEAR_PERCENT
0     Goa  1967   IND      2          30            6.666667
1     Goa  1967   MAG     16          30           53.333333
2     Goa  1967   UGS     12          30           40.000000
3     Goa  1972   INC      1          30            3.333333
4     Goa  1972   IND      1          30            3.333333

In [84]:
df3.dtypes

ST_NAME                object
YEAR                    int64
PARTY                  object
SEATS                   int64
SEATS_YEAR              int64
PARTY_YEAR_PERCENT    float64
dtype: object

In [85]:
df3['PARTY_YEAR_PERCENT']=df3['PARTY_YEAR_PERCENT'].round(1)

In [86]:
df3.head()

  ST_NAME  YEAR PARTY  SEATS  SEATS_YEAR  PARTY_YEAR_PERCENT
0     Goa  1967   IND      2          30                 6.7
1     Goa  1967   MAG     16          30                53.3
2     Goa  1967   UGS     12          30                40.0
3     Goa  1972   INC      1          30                 3.3
4     Goa  1972   IND      1          30                 3.3

In [89]:
df3[df3['PARTY_YEAR_PERCENT'] > 10].groupby(['ST_NAME','PARTY'])['YEAR'].unique()

ST_NAME        PARTY
Goa            BJP                                 [1999, 2002, 2007, 2012]
               INC         [1977, 1984, 1989, 1994, 1999, 2002, 2007, 2012]
               INC(U)                                                [1980]
               IND                                             [1984, 2012]
               MAG               [1967, 1972, 1977, 1980, 1984, 1989, 1994]
               UGS                                             [1967, 1972]
Manipur        AITC                                                  [2012]
               FPM                                                   [2002]
               INC        [1967, 1972, 1974, 1980, 1984, 1990, 1995, 200...
               IND                           [1967, 1972, 1980, 1984, 2007]
               JD                                              [1990, 1995]
               JNP                                                   [1980]
               MHU                                                   [1974]
               MPP                                             [1990, 1995]
               MRP                                             [1972, 1974]
               MSCP                                            [2000, 2002]
               SSP                                                   [1967]
Punjab         AD                                                    [1962]
               ADS                                                   [1967]
               BJP                                       [1997, 2007, 2012]
               INC        [1951, 1957, 1962, 1967, 1969, 1972, 1977, 198...
               IND                                                   [1962]
               JNP                                                   [1977]
               SAD        [1969, 1972, 1977, 1980, 1985, 1997, 2002, 200...
Uttar Pradesh  BJP               [1989, 1991, 1993, 1996, 2002, 2007, 2012]
               BJS                                       [1967, 1969, 1974]
               BKD                                             [1969, 1974]
               BSP                           [1993, 1996, 2002, 2007, 2012]
               INC        [1951, 1957, 1962, 1967, 1969, 1974, 1977, 198...
               IND                                                   [1957]
               JD                                              [1989, 1991]
               JNP                                                   [1977]
               JNP(SC)                                               [1980]
               JS                                                    [1962]
               LKD                                                   [1985]
               PSP                                                   [1957]
               SP                            [1993, 1996, 2002, 2007, 2012]
               SSP                                                   [1967]
Uttarakhand    BJP                                       [2002, 2007, 2012]
               BSP                                                   [2007]
               INC                                       [2002, 2007, 2012]
Name: YEAR, dtype: object

In [90]:
df3.head

<bound method DataFrame.head of            ST_NAME  YEAR   PARTY  SEATS  SEATS_YEAR  PARTY_YEAR_PERCENT
0              Goa  1967     IND      2          30                 6.7
1              Goa  1967     MAG     16          30                53.3
2              Goa  1967     UGS     12          30                40.0
3              Goa  1972     INC      1          30                 3.3
4              Goa  1972     IND      1          30                 3.3
5              Goa  1972     MAG     18          30                60.0
6              Goa  1972     UGS     10          30                33.3
7              Goa  1977     INC     10          30                33.3
8              Goa  1977     IND      2          30                 6.7
9              Goa  1977     JNP      3          30                10.0
10             Goa  1977     MAG     15          30                50.0
11             Goa  1980  INC(U)     20          30                66.7
12             Goa  1980     IND      3          30                10.0
13             Goa  1980     MAG      7          30                23.3
14             Goa  1984     INC     18          30                60.0
15             Goa  1984     IND      4          30                13.3
16             Goa  1984     MAG      8          30                26.7
17             Goa  1989     INC     20          40                50.0
18             Goa  1989     IND      2          40                 5.0
19             Goa  1989     MAG     18          40                45.0
20             Goa  1994     BJP      4          40                10.0
21             Goa  1994     INC     18          40                45.0
22             Goa  1994     IND      3          40                 7.5
23             Goa  1994     MAG     12          40                30.0
24             Goa  1994    UGDP      3          40                 7.5
25             Goa  1999     BJP     10          40                25.0
26             Goa  1999    GRCP      2          40                 5.0
27             Goa  1999     INC     21          40                52.5
28             Goa  1999     IND      1          40                 2.5
29             Goa  1999     MAG      4          40                10.0
..             ...   ...     ...    ...         ...                 ...
371  Uttar Pradesh  2007    RSBP      1         403                 0.2
372  Uttar Pradesh  2007      SP     97         403                24.1
373  Uttar Pradesh  2007   UPUDF      1         403                 0.2
374  Uttar Pradesh  2012      AD      1         403                 0.2
375  Uttar Pradesh  2012     BJP     47         403                11.7
376  Uttar Pradesh  2012     BSP     80         403                19.9
377  Uttar Pradesh  2012    IEMC      1         403                 0.2
378  Uttar Pradesh  2012     INC     28         403                 6.9
379  Uttar Pradesh  2012     IND      6         403                 1.5
380  Uttar Pradesh  2012     NCP      1         403                 0.2
381  Uttar Pradesh  2012    PECP      4         403                 1.0
382  Uttar Pradesh  2012     QED      2         403                 0.5
383  Uttar Pradesh  2012     RLD      9         403                 2.2
384  Uttar Pradesh  2012      SP    224         403                55.6
385    Uttarakhand  2002     BJP     19          70                27.1
386    Uttarakhand  2002     BSP      7          70                10.0
387    Uttarakhand  2002     INC     36          70                51.4
388    Uttarakhand  2002     IND      3          70                 4.3
389    Uttarakhand  2002     NCP      1          70                 1.4
390    Uttarakhand  2002    UKKD      4          70                 5.7
391    Uttarakhand  2007     BJP     34          69                49.3
392    Uttarakhand  2007     BSP      8          69                11.6
393    Uttarakhand  2007     INC     21          69                30.4
394    Uttarakhand  2007     IND      3          69                 4.3
395    Uttarakhand  2007    UKKD      3          69                 4.3
396    Uttarakhand  2012     BJP     31          70                44.3
397    Uttarakhand  2012     BSP      3          70                 4.3
398    Uttarakhand  2012     INC     32          70                45.7
399    Uttarakhand  2012     IND      3          70                 4.3
400    Uttarakhand  2012    UKDP      1          70                 1.4

[401 rows x 6 columns]>

In [91]:
df3.to_csv('for_openrefine.csv')

In [106]:
df_goa = df3[(df3['ST_NAME']== 'Goa') & (df3['PARTY'].isin(['BJP', 'INC', 'MAG']))]
df_goa.to_csv('goa_graph.csv')

In [107]:
df_uttarakhand = df3[(df3['ST_NAME']== 'Uttarakhand') & (df3['PARTY'].isin(['BJP', 'INC', 'BSP']))]
df_uttarakhand.to_csv('uttarakhand_graph.csv')

In [109]:
df_uttar_pradesh = df3[(df3['ST_NAME']== 'Uttar Pradesh') &\
                       (df3['PARTY'].isin(['AD', 'BJP', 'BSP', 'INC', 'PECP', 'RLD', 'SP']))]
df_uttar_pradesh.to_csv('uttar_pradesh_graph.csv')

In [110]:
df_punjab = df3[(df3['ST_NAME']== 'Punjab') & (df3['PARTY'].isin(['BJP', 'INC', 'SAD', 'AAP']))]
df_punjab.to_csv('punjab_graph.csv')

In [111]:
df_manipur = df3[(df3['ST_NAME']== 'Manipur') & (df3['PARTY'].isin(['AITC', 'INC', 'MSCP', 'CPI', 'NPF', 'BJP']))]
df_manipur.to_csv('manipur_graph.csv')